<ion-list>
    <ion-item-sliding *ngFor="let list of deseosService.list | filterComplete:complete" #slidingItem>
        <button ion-item (click)="itemSelected(list)">
            {{ list.title }}
            <ion-note item-end>
                {{list.items.lenght}} items
            </ion-note>
        </button>
        <ion-item-options side="left">
            <button ion-button ion-only color="danger" (click)="removeList()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item-options>
        <ion-item-options side="right">
            <button ion-button ion-only color="info" (click)="editList(list,slidingItem)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item-options>

    </ion-item-sliding>

</ion-list>